body, html {
    width: 100%;
}

body {
    padding:0%;
    width: 100%;
    height: 100%;
    background-color: rgb(40, 42, 53);
}

#main , #legal , #interact , #contact {
    padding: 0%;
    margin-top: 90px;
}



/* ----------------Navbar------------------------------------------------------------------------------------ */

html header .navbar {
    background-color: rgb(40, 42, 53);
    padding: 0.6rem 1rem;
    align-items: unset;
}

header .navbar .navbarNav {
    align-items: baseline;
}

.navbar-brand {
    padding-right: 20pt;
}
 .navbar-dark .navbar-nav .nav-link {
     color: whitesmoke;
     padding-left: 0;
     padding-top: 23px;
}

button.navbar-toggler {
    height: 56px;
    margin-top: 6.5px;
}

 .navbar-nav > li {
     margin-left: 15pt;
}
 

@media screen and (min-width: 768px) {
    
    @media (hover: hover) {

        a.it:hover ~ #collapse1 {
            display: block;
        }

        #collapse1:hover {
            display: block;
        }

        a.legal:hover ~ #collapse2 {
            display: block;
        }

        #collapse2:hover {
            display: block;
        }

        a.interact:hover ~ #collapse3 {
            display: block;
        }

        #collapse3:hover {
            display: block;
        }

    }

}


.collapse .dropdown-item {
    color: whitesmoke;
    padding-left: 0
}


#collapse1 .dropdown-item:hover {
    color: rgb(180, 157, 229);
    background-color: black;
}

#collapse2 .dropdown-item:hover {
    color: rgb(108, 221, 131);
    background-color: black;
}

#collapse3 .dropdown-item:hover {
    color: rgb(231, 121, 184);
    background-color: black;
}


@media screen and (min-width: 768px) {
    .navbar-dark .navbar-nav #kontakt {
        color: rgb(108, 221, 131);
        border-radius: 68px;
        cursor: pointer;
        background-color: rgb(40, 42, 53);
        padding-top: 0%;
        padding-bottom: 0%;
        padding-left: 0.5em;
        border: solid rgb(108, 221, 131);
    }

    .navbar-dark .navbar-nav #kontakt:hover {
        background-color: rgb(108, 221, 131);
        color: rgb(40, 42, 53);
        border-color: rgb(40, 42, 53);
    }
}

li.nav-item {
    margin-left: 10px;
}
a.nav-link {
    padding-bottom: 0%;
}


/*------------------Jumbotron--and---bodyhead--------------------------------------------------------------------*/


.jumbo {
    width: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
    z-index: 0;
    display: block;
}

video {
    margin-bottom: -9.2%;
    width: 100%;
}

#legal video {
    margin-left: 30%;
}

#interact video {
    margin-left: 20%;
}

#interact video , #contact video {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
}

#imgcon {
    margin-bottom: -9%;
    margin-left: -10%;
    width: 100%;
}

#imgout {
    margin-bottom: -17.6%;
    width: 100%;
}

#imgsupport {
    margin-left: -13%;
    margin-bottom: -5.3%;
    width: 100%;
}

#main .box {
    background-color: rgb(180, 157, 229);
    display: block;
    height: 100%;
    width: 33%;
    z-index: 3;
    position: absolute;
    top: 0px;
    left: 0;
    
}

#main .box::before {
    border: 25vw solid transparent;
    border-left: 12vw solid rgb(180, 157, 229);
    content: "";
    position: absolute;
    display: block;
    height: 0;
    width: 0;
    border-right: 0;
    top: o;
    left: 99.5%;
    z-index: 3;
}

#legal .box {
    background-color: rgb(108, 221, 131);
    display: block;
    height: 100%;
    width: 33%;
    z-index: 3;
    position: absolute;
    top: 0px;
    left: 0;
    
}

#legal .box::before {
    border: 25vw solid transparent;
    border-left: 12vw solid rgb(108, 221, 131);
    content: "";
    position: absolute;
    display: block;
    height: 0;
    width: 0;
    border-right: 0;
    top: o;
    left: 99.5%;
    z-index: 3;
}

#interact .box {
    background-color: rgb(231, 121, 184);
    display: block;
    height: 100%;
    width: 33%;
    z-index: 3;
    position: absolute;
    top: 0px;
    left: 0;
}

#interact .box::before {
    border: 25vw solid transparent;
    border-left: 12vw solid rgb(231, 121, 184);
    content: "";
    position: absolute;
    display: block;
    height: 0;
    width: 0;
    border-right: 0;
    top: o;
    left: 99.5%;
    z-index: 3;
}

.jumbo h2 {
    font-size: 5.7vw;
    color: rgb(40, 42, 53);
}

.jumbo h3 {
    line-height: 1;
    font-size: 2.5vw;
    color: rgb(40, 42, 53);
}
    
.vidtext {
    position: absolute;
    width: 125%;
    top: 40%;
    left: 3%;
    z-index: 4;
    text-align: left;
}


.box2 {
    background-color: rgb(180, 157, 229);
    display: block;
    height: 100%;
    width: 33%;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
}

.box2::before {
    border: 25vw solid transparent;
    border-right: 12vw solid rgb(180, 157, 229);
    content: "";
    position: absolute;
    display: block;
    height: 0;
    width: 0;
    border-left: 0;
    top: 0;
    right: 99.5%;
    z-index: 2;
}

.box2 .supportlinks {
    width: 100%;
    position: absolute;
    bottom: 7%;
    right: 2%;
    z-index: 4;
}

.box2 .supportlinks a:hover {
    text-decoration: none;
    border: .3vw dotted rgb(108, 221, 131);
}

.box2 .supportlinks a:hover h4 , .supportlinks a:hover div {
    color: rgb(108, 221, 131);
}


.box2 .supportlinks h4 {
    color: rgb(40, 42, 53);
    text-align: center;
    font-size: 1vw;
    line-height: 2.5;
}


.box2 .bi {
    color: rgb(40, 42, 53);
    text-align: center;
    font-size: 7vw;
    line-height: 1.1;
}

.vidtext2 {
    position: absolute;
    width: 125%;
    top: 40%;
    right: 3%;
    z-index: 4;
    text-align: right;
}

.para-container {
    position: absolute;
    text-align: center;
    bottom: -9.5vw;
    left: 45%;
    z-index: 4;
}

.para {
    width: 2vw;
    height: 11vw;
    margin: .8vw;
    transform: skew(20deg);
    background-color: rgb(108, 221, 131);
    display: inline-block;
}

#legal .para {
    background-color: rgb(231, 121, 184);
}

#interact .para {
    background-color: rgb(180, 157, 229);
}

.bodyhead {
    color: whitesmoke;
    font-size: 5vw;
    margin-top: 5%;
    margin-bottom: 4%;
    width: 95%;
    border: .5vw solid rgb(180, 157, 229);
    padding-top: 3vw;
    padding-bottom: 3vw;
}

#legal .bodyhead {
    border-color: rgb(108, 221, 131);
}

#interact .bodyhead {
    border-color: rgb(231, 121, 184);
}

.bodyhead span {
    color: rgb(180, 157, 229);
}

.bodyhead h2 {
    font-size: 3.2vw;
    padding: 3%;
    text-align: center;
}

.bodyhead p {
    font-size: 2vw;
    text-align: center;
}

.bodyhead ul {
    margin-left: 0;
    margin-bottom: 5%;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 3vw;
}

.bodyhead li {
    font-size: 1.7vw;
    margin-bottom: 2vw;
    line-height: 1.2;
}


@media screen and (max-width: 575px) {

    #main #vidit {
        height: 85vh;
        margin-left: -550px;
        display: block;
        width: auto;
        margin-bottom: 0;
    }

    #legal #vidlegal {
        height: 85vh;
        margin-left: -350px;
        display: block;
        width: auto;
        margin-bottom: 0;
    }

    #interact #vidint {
        height: 85vh;
        margin-left: -550px;
        display: block;
        width: auto;
        margin-bottom: 0;
    }


    #imgcon {
        height: 85vh;
        margin-left: -250px;
        display: block;
        width: auto;
        margin-bottom: 0;
    }

    
    #imgout {
        height: 85vh;
        margin-left: -250px;
        display: block;
        width: auto;
        margin-bottom: 0;
        background-color: rgb(180, 157, 229);
    }

    #imgsupport {
        height: 85vh;
        margin-left: -300px;
        display: block;
        width: auto;
        margin-bottom: 0;
    }

    .jumbo .vidtext2mob {
        position: absolute;
        bottom: 0;
        z-index: 3;
        left: 0;
        width: 100%;
        height: 20%;
        text-align: center;
        background-color: rgb(180, 157, 229);
        padding: 1%;
        padding-top: 5%;
        padding-bottom: 35%;
    }

    #legal .jumbo .vidtext2mob {
        background-color: rgb(108, 221, 131);
    }

    #interact .jumbo .vidtext2mob {
        background-color: rgb(231, 121, 184);
    }

    .vidtext2mob h2 {
        font-size:12vw;
    }

    .vidtext2mob h3 {
        font-size: 6vw;
    }


    .bodyhead h2 {
        font-size: 5vw;
        padding: 3%;
        text-align: center;
    }
    
    .bodyhead p {
        font-size: 2.7vw;
        text-align: center;
    }

}


/* ------------Rabbit IT Main------------------------------------------------------------------------- */


#fund {
    margin-top: 60pt;
    width: 95%;
}


#fund h1 {
    color: rgb(180, 157, 229);
}

#fund section {
    color: rgb(228, 228, 228);
}

#fund li span {
    color: rgb(180, 157, 229);
}

#main .imcurious {
    text-align: center;
}

#main .imcurious a {
    color: rgb(40, 42, 53);
    background-color: rgb(180, 157, 229);
    border: 1px solid whitesmoke;
    border-radius: 35px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: .5%;
    padding-top: .5%;
    font-weight: 500;
}

#main .imcurious a:hover {
    cursor: pointer;
    background-color: rgb(40, 42, 53);
    border: solid rgb(180, 157, 229);
    border-width: 1px;
    color: rgb(180, 157, 229) !important;
    text-decoration: none;
    
}

@media screen and (max-width: 412px) {

    #main .outbody .imcurious {
        font-size: 6vw;
    }
}


.mainpagelinks {
    padding: 3%;
    padding-bottom: 0;
}


.links1 h1 {
    color: rgb(180, 157, 229);
    font-size: 2.2vw;
    margin-bottom: 2%;
}


.links2 h1 {
    color: rgb(218, 218, 218);
    font-size: 2.2vw;
    margin-bottom: 2%;
}

.links1 a {
    color: rgb(40, 42, 53);
    font-size: 1.1vw;
    font-weight: bold;
    border-radius: 15vw;
    cursor: pointer;
    background-color: rgb(180, 157, 229);
    border: solid whitesmoke;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 2%;
    padding-right: 2%;
    border-width: 1px;
    margin: .5%;
    white-space: nowrap;
}

.links1 a:hover {
    color: rgb(108, 221, 131);
    border: solid rgb(108, 221, 131);
    cursor: pointer;
    background-color: rgb(40, 42, 53);
    border-width: 1px;
    text-decoration: none;  
}

.links2 a {
    color: whitesmoke;
    font-size: 1.1vw;
    font-weight: bold;
    border-radius: 1vw;
    cursor: pointer;
    background-color: rgb(40, 42, 53);
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 2%;
    padding-right: 2%;
    border: solid whitesmoke;
    border-width: 1px;
    margin: .5%;
    white-space: nowrap;
}

.links2 a:hover {
    color: rgb(40, 42, 53);
    cursor: pointer;
    background-color: whitesmoke;
    border: solid whitesmoke;
    border-width: 1px;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .links1 {
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
        line-height: 2;
        margin-top: 50px;
    }

    .links2 {
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
        line-height: 2;
    }

    .links1 a {
        font-size: 20px;
        border-radius: 15vw;
    }

    .links2 a {
        font-size: 20px;
        border-radius: 15vw;

    }

    .links1 h1 {
        font-size: 35px;
        margin-bottom: 3%;
    }
      
    .links2 h1 {
        font-size: 7vw;
        margin-bottom: 3%;
    }
}



/* ------------rabbit it consulting--------------------------------------------------------------------------   */

.circle-container {
    text-align: center;
}

.circle {
    height: 200px;
    width: 200px;
    background-color: rgb(108, 221, 131);
    border-radius: 50%;
    display: inline-block;
}

.circle:hover {
    transform: rotate(-25deg)
}

.circle h3 {
    margin-top: 20%;
}

#cube {
    margin-top: 10px;
    position: relative;
    margin-bottom: 3vw;
}

#cube section {
    border: solid rgb(180, 157, 229);
    height: 150px;
    margin: 10px;
    width: 29%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(180, 157, 229);
    font-size: 20px;
}



/* --------------------------------------Rabbit it Outsourcing---------------------------------------------- */

.outbody {
    margin-top: 40px;
    width: 95%;
}

.outoption {
    margin-top: 40px;
}

.outbody .outheader {
    border: solid rgb(231, 121, 184);
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.outbody .outheader h1 {
    color: rgb(231, 121, 184);
    font-size: 2vw;
    line-height: 1;
}

.outbody .outheader p {
    font-size: 2vw;
    color: whitesmoke;
    line-height: 1;
}



.outoption .arrow {
    position: relative;
}
.outoption .arrow p {
    font-size: 10vw;
    color: rgb(108, 221, 131);
    text-align: center;
}

.outoption h2 {
    color: rgb(108, 221, 131);
    font-size: 1.3vw;
}

.outoption p {
    color: whitesmoke;
    font-size: 1vw;
}

.outoption li {
    color: whitesmoke;
    font-size: 1vw;
}

@media screen and (max-width: 575px) {

    .outbody .outheader h1 {
        font-size: 6vw;
    }
    
    .outbody .outheader p {
        font-size: 4vw;
    }

    .outoption .arrow p {
        transform: rotate(90deg);
    }

    .outoption h2 {
        font-size: 3.3vw;
    }
    
    .outoption p {
        color: whitesmoke;
        font-size: 2.5vw;
    }
    
    .outoption li {
        font-size: 2.5vw;
    }

    
}


/* ----------------------------------------------Rabbit IT support ------------------------------------------ */


.supportlinksbody {
    margin-top: 7%;
    width: 90%;
}

.supportlinksbody a:hover {
    text-decoration: none;
    border: .3vw dotted rgb(108, 221, 131);
}

.supportlinksbody a:hover h4 , .supportlinks a:hover div, .supportlinksbody a:hover .bi {
    color: rgb(108, 221, 131);
}

.supportlinksbody h4 {
    color: rgb(180, 157, 229);
    text-align: center;
    font-size: 2vw;
    line-height: 2.5;
}

.emaillink, .phonelink, .downloadlink {
    border: .3vw solid rgb(180, 157, 229);
    padding: 0;
}

.bi {
    color: whitesmoke;
    text-align: center;
    font-size: 7vw;
}

@media screen and (max-width: 575px) {
     
    .supportlinksbody h4 {
        font-size: 5vw;
        margin-bottom: 0;
    }

    .bi {
        margin-top: 2%;
    }

    
}

/* ------------------------Rabbit Legal Main -------------------------------------------------- */


#legal .bodyhead span {
    color: rgb(108, 221, 131);
}

#legal .imcurious {
    text-align: center;
}

#legal .imcurious a {
    color: #2a2831;
    background-color: rgb(108, 221, 131);
    border-radius: 35px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: .5%;
    padding-top: .5%;
    font-weight: 500;
}

#legal .imcurious a:hover {
    cursor: pointer;
    background-color: rgb(40, 42, 53);
    border: solid rgb(108, 221, 131);
    border-width: 1px;
    color: rgb(108, 221, 131) !important;
    text-decoration: none;  
}

.legalpagelinks {
    padding: 5%;
    padding-bottom: 0;
}


.legalpagelinks .links1 h1 {
    color: rgb(108, 221, 131);
}

.legalpagelinks .links1 a {
    color: rgb(18, 19, 24);
    background-color: rgb(108, 221, 131);
    border: solid rgb(108, 221, 131);
    border-width: 1px;
    text-decoration: none;
}

.legalpagelinks .links1 a:hover {
    color: rgb(231, 121, 184);
    border: solid rgb(231, 121, 184);
    background-color: rgb(40, 42, 53); 
    border-width: 1px;
    text-decoration: none;
}


/* ------------------------Rabbit Interact Main -------------------------------------------------- */

#interact .bodyhead span {
    color: rgb(231, 121, 184);
}


.conman {
    margin-top: 7%;
    width: 95%;
    border: .2vw solid rgba(245, 245, 245, 0.658);
    padding: 2vw;
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
}

#interact .conman h1 {
    color: rgb(231, 121, 184);
    font-size: 3.5vw;
    margin-bottom: 5%;

}

#interact .conman li {
    font-size: 1.4vw;
    padding-left: 0;
}

#interact > p {
    font-size: 1vw;
    margin-top: 1%;
    text-align: center;
    color: whitesmoke;
}

@media screen and (max-width: 575px) {
    
    #interact .conman h1 {
        font-size: 27px;
        margin-bottom: 5%;
    }

    #interact .conman li {
        font-size: 18px;
        margin-top: 5%;
    }

    #interact > p {
        font-size: 12px;
    }
    
}

#interact .imcurious {
    text-align: center;
}

#interact .imcurious a {
    color: #2a2831;
    background-color: rgb(231, 121, 184);
    border-radius: 35px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: .5%;
    padding-top: .5%;
    font-weight: 500;
}

#interact .imcurious a:hover {
    cursor: pointer;
    background-color: rgb(40, 42, 53);
    border: solid rgb(231, 121, 184);
    border-width: 1px;
    color: rgb(231, 121, 184) !important;   
    text-decoration: none;
}

.interactpagelinks {
    padding: 3%;
    padding-bottom: 0;
}

.interactpagelinks .links1 h1 {
    color: rgb(231, 121, 184);
}

.links2 h1 {
    color: rgb(218, 218, 218);
}

.interactpagelinks .links1 a {
    color: rgb(40, 42, 53);
    cursor: pointer;
    background-color: rgb(231, 121, 184);
    border: solid rgb(231, 121, 184);
    border-width: 1px;
}

.interactpagelinks .links1 a:hover {
    color: rgb(180, 157, 229);
    border: solid rgb(180, 157, 229);
    cursor: pointer;
    background-color: rgb(40, 42, 53);
    border-width: 1px;
    text-decoration: none;  
}


/* ------------------------------------- contact form ------------------------------------------------- */


.text-black {
    color: rgb(40, 42, 53); }
  
  .content {
    padding: 7rem 0; }
  
  h2 {
    font-size: 3.5rem;
    font-weight: 700; }
  
  h3 {
    font-size: 2rem;
    font-weight: 700;
    color: whitesmoke; }
  
  .form-control {
    border: none;
    border: 1px solid whitesmoke;
    border-radius: 4px; }
    .form-control:active, .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: rgb(40, 42, 53); }
  
  .col-form-label {
    color: rgb(40, 42, 53); }
  
  .btn, .form-control, .custom-select {
    height: 50px; }
  
  .custom-select:active, .custom-select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: rgb(40, 42, 53); }
  
  .heading {
    color: #888;
    letter-spacing: .05rem;
    text-transform: uppercase;
    font-weight: 400; }
  
  .btn {
    color: whitesmoke;
    border: none;
    border-radius: 4px !important;
    background: rgb(180, 157, 229);
    }
    .btn:hover {
      color: whitesmoke; 
      background-color: rgb(231, 121, 184);
    }
    .btn:active, .btn:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
  
  .inbox {
    padding: 40px;
    border: .25vw solid rgb(40, 42, 53);
    background: rgb(108, 221, 131);
    margin-top: 11%;
    margin-bottom: 11%;
    max-width: 1200px;
  }

  @media screen and (min-width: 2570px) {
    .inbox {
        transform: scale(2);
        border: .125vw solid rgb(40, 42, 53);
      }
  }

  @media screen and (max-width: 991px) {
    .inbox {
        margin: 0;
      }
  }

    .inbox h3 {
      font-size: 14px;
      margin-bottom: 30px;
      text-align: center; }
  
  label.error {
    font-size: 12px;
    color: red; }
  
  #message {
    resize: vertical; }
  
  #form-message-warning, #form-message-success {
    display: none; }
  
  #form-message-warning {
    color: #B90B0B; }
  
  #form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold;
    text-align: center; }
  
  .submitting {
    text-align: center;
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: rgb(40, 42, 53); }
  

/* ----------------------------------------------Footer -------------------------------------------------------- */

.footer-break {
    background-color: rgba(245, 245, 245, 0.685);
    width: 95%;
    text-align: center;
    margin-top: 2%;
}

#footer {
    max-width: 95%;
}
  
.panel-footer, .panel-footer a {
    margin-top: .5vw;
    color: rgba(255, 255, 255, 0.562); 
    padding-top: 1%;
    background-color: rgb(40, 42, 53);
    font-size: .8vw;
}

#footlogo img {
    width: 20vw;
}

.panel-footer span {
    color: whitesmoke;
}

@media screen and (max-width: 850px) {

    .panel-footer, .panel-footer a {
        font-size: 1.2vw;
    }   
}

@media screen and (max-width: 575px) {

    .panel-footer, .panel-footer a {
        font-size: 20px;
        text-align: center;
        margin-top: 10%;
    }
  
    #footlogo img {
        width: 250px;
    }

    .panel-footer section hr {
        margin-top: 20px;
    }
}

/* ----------------------------------------end-------------------------------------------------------- */