body, html {
    width: 100%;
}

body {
    padding:0%;
    width: 100%;
    height: 100%;
    background-color: rgb(40, 42, 53);
}

#main , #legal , #interact , #contact {
    padding: 0%;
    margin-top: 90px;
}



/* ----------------Navbar------------------------------------------------------------------------------------ */

html header .navbar {
    align-items: baseline;
    padding-top: 0%;
    padding-bottom: 16pt;
    background-color: rgb(40, 42, 53);
}

header .navbar .navbarNav {
    align-items: baseline;
}

.navbar-brand {
    padding-right: 20pt;
}
 .navbar-dark .navbar-nav .nav-link {
     color: rgb(218, 218, 218);
     margin-top: 10pt;
     padding-left: 0;
}

 .navbar-nav > li {
     margin-left: 15pt;
}
 

@media screen and (min-width: 768px) {
    
    @media (hover: hover) {

        a.it:hover ~ #collapse1 {
            display: block;
        }

        #collapse1:hover {
            display: block;
        }

        a.legal:hover ~ #collapse2 {
            display: block;
        }

        #collapse2:hover {
            display: block;
        }

        a.interact:hover ~ #collapse3 {
            display: block;
        }

        #collapse3:hover {
            display: block;
        }

    }

}


.collapse .dropdown-item {
    color: #e1e2de;
    padding-left: 0.5rem;
}


#collapse1 .dropdown-item:hover {
    color: rgb(180, 157, 229);
    background-color: black;
}

#collapse2 .dropdown-item:hover {
    color: rgb(108, 221, 131);
    background-color: black;
}

#collapse3 .dropdown-item:hover {
    color: rgb(231, 121, 184);
    background-color: black;
}


@media screen and (min-width: 768px) {
    .navbar-dark .navbar-nav #kontakt {
        color: rgb(108, 221, 131);
        border-radius: 68px;
        cursor: pointer;
        background-color: rgb(40, 42, 53);
        padding-top: 0%;
        padding-bottom: 0%;
        padding-left: 0.5em;
        border: solid rgb(108, 221, 131);
        margin-top: 8pt;
    }

    .navbar-dark .navbar-nav #kontakt:hover {
        background-color: rgb(108, 221, 131);
        color: #2a2831;
        border-color: #2a2831;
    }
}

li.nav-item {
    margin-left: 10px;
}
a.nav-link {
    padding-bottom: 0%;
}

li.nav-item a.nav-link {
    padding-top: 0%;
}




/*------------------Jumbotron for IT-------------------------------------------------------------------------*/


.jumbo {
    width: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
    z-index: 0;
    display: block;
}

video {
    bottom: 0;
    right: 0;
    display: block;
    margin-bottom: -8%;
}

#legal video , #interact video , #contact video {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
}

#imgcon {
    margin-bottom: -7%;
    margin-left: -10%;
    width: 100%;
}

#imgoutsourcing {
    margin-bottom: -7%;
    margin-left: -2%;
}

#imgsupport {
    margin-left: -13%;
    margin-bottom: -5%;
}

.jumbo span {
    color: rgb(195, 0, 255);
    font-size: 3vw;
    text-shadow: .15vw .15vw black;
}

.box {
    background-color: rgb(180, 157, 229);
    display: block;
    height: 100%;
    width: 33%;
    z-index: 3;
    position: absolute;
    top: 0px;
    left: 0;
    
}

.box::before {
    border: 25vw solid transparent;
    border-left: 12vw solid rgb(180, 157, 229);
    content: "";
    position: absolute;
    display: block;
    height: 0;
    width: 0;
    border-right: 0;
    top: o;
    left: 99.5%;
    z-index: 3;
}

.jumbo p {
    line-height: 1;
    margin-bottom: 5%;
}

.jumbo h2 {
    line-height: 1;
}

.jumbo h2 span {
    line-height: 1.5;
}
    
.vidtext {
    position: absolute;
    width: 100%;
    top: 8%;
    left: 3%;
    z-index: 4;
}

.vidtext h2 {
    font-size: 3vw;
    color: rgb(40, 42, 53);
}

.vidtext p {
    font-size: 1.7vw;
    color: rgb(40, 42, 53);
    margin-bottom: 2%;
}


.box2 {
    background-color: rgb(180, 157, 229);
    display: block;
    height: 100%;
    width: 33%;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
}

.box2::before {
    border: 25vw solid transparent;
    border-right: 12vw solid rgb(180, 157, 229);
    content: "";
    position: absolute;
    display: block;
    height: 0;
    width: 0;

    border-left: 0;

    top: 0;
    right: 99.5%;
    z-index: 2;
}

@media screen and (max-width: 575px) {



    #imgcon {
    height: 85vh;
    margin-left: -250px;
    display: block;
    width: auto;
    margin-bottom: 0;
    }

    .jumbo .vidtext2 {
        position: absolute;
        top: 30%;
        z-index: 3;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.363);
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        padding: 1%;
        padding-top: 20%;
        padding-bottom: 20%;
    }

    .vidtext2 h2 span {
        font-size:14vw;
        color: whitesmoke;
        text-shadow: .7vw .7vw rgb(180, 157, 229);
    }

    .jumbo .vidtext2 h2 {
        font-size: 6vw;
        color: whitesmoke;
    }

    .mobilepara {
        color: whitesmoke;
        font-size: 4vw;
        margin-top: 5%;
        margin-bottom: 9%;
        width: 95%;
    }
}
    
.vidtext2 {
    position: absolute;
    width: 100%;
    top: 19%;
    right: 3%;
    z-index: 4;
    text-align: right;
}

.vidtext2 h2 {
    font-size: 2.5vw;
}

.vidtext2 p {
    font-size: 1.6vw;
    margin-bottom: 2%;
}

.vidtext3 {
    position: absolute;
    width: 100%;
    top: 13%;
    right: 3%;
    z-index: 2;
    text-align: right;
}

.vidtext3 h2 {
    font-size: 2.5vw;
}

.vidtext3 p {
    font-size: 1.7vw;
}

.vidtext4 {
    position: absolute;
    width: 100%;
    top: 20%;
    right: 3%;
    z-index: 4;
    text-align: right;
}

.vidtext4 h2 {
    font-size: 2.5vw;
}

.vidtext4 p {
    font-size: 1.6vw;
}

#main .imcurious {
    text-align: center;
}

#main .imcurious a {
    color: #2a2831;
    background-color: rgb(180, 157, 229);
    border-radius: 35px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: .5%;
    padding-top: .5%;
    font-weight: 500;
}

#main .imcurious a:hover {
    cursor: pointer;
    background-color: rgb(40, 42, 53);
    border: solid rgb(9, 255, 0);
    border-width: 1px;
    color: rgb(9, 255, 0) !important;
    
}

@media screen and (max-width: 412px) {
    #main .imcurious {
        font-size: 7.8vw;
    }

    #main .outbody .imcurious {
        font-size: 6vw;
    }
    
}

#main .box2 .imcurious a {
    color: rgb(108, 221, 131);
    background-color: rgb(40, 42, 53);
    border: solid rgb(108, 221, 131);
    border-width: 1px;
}

#main .box2 .imcurious {
    z-index: 4;
    margin-top: 2%;
    padding-right: 0%;
    font-size: 1.7vw;
    text-align: right;
}



/* --------------------------------jumbotron for legal ------------------------------------------------------ */

#legal .jumbo span {
    color: rgb(72, 156, 89);
}

#legal .box {
    background-color: rgb(108, 221, 131);
    display: block;
    height: 100%;
    width: 33%;
    z-index: 3;
    position: absolute;
    top: 0px;
    left: 0;
    
}

#legal .box::before {
    border: 25vw solid transparent;
    border-left: 12vw solid rgb(108, 221, 131);
    content: "";
    position: absolute;
    display: block;
    height: 0;
    width: 0;
    border-right: 0;
    top: o;
    left: 99.5%;
    z-index: 3;
}

.jumbo p {
    line-height: 1;
    margin-bottom: 5%;
}

.jumbo h2 {
    line-height: 1;
}

.jumbo h2 span {
    line-height: 1.5;
}
    
.vidtext {
    position: absolute;
    width: 100%;
    top: 8%;
    left: 3%;
    z-index: 4;
}

.vidtext h2 {
    font-size: 3vw;
    color: rgb(40, 42, 53);
}

.vidtext p {
    font-size: 1.7vw;
    color: rgb(40, 42, 53);
    margin-bottom: 2%;
}

#legal .imcurious {
    text-align: center;
}

#legal .imcurious a {
    color: #2a2831;
    background-color: rgb(180, 157, 229);
    border-radius: 35px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: .5%;
    padding-top: .5%;
    font-weight: 500;
}

#legal .imcurious a:hover {
    cursor: pointer;
    background-color: rgb(40, 42, 53);
    border: solid rgb(9, 255, 0);
    border-width: 1px;
    color: rgb(9, 255, 0) !important;
    
}

#legal .box .imcurious a {
    color: rgb(231, 121, 184);
    background-color: rgb(40, 42, 53);
    border: solid rgb(231, 121, 184);
    border-width: 1px;
}

#legal .box .imcurious a:hover {
    cursor: pointer;
    background-color: rgb(40, 42, 53);
    border: solid rgb(243, 49, 159);
    border-width: 1px;
    color: rgb(243, 49, 159) !important;
    
}

#legal .box .imcurious {
    z-index: 4;
    margin-top: 4%;
    padding-left: 0%;
    font-size: 1.7vw;
    text-align: left;
}

/* --------------------------------jumbotron for Interact ------------------------------------------------------ */


#interact .jumbo span {
    color: rgb(196, 50, 132);
}

#interact .box {
    background-color: rgb(231, 121, 184);
    display: block;
    height: 100%;
    width: 33%;
    z-index: 3;
    position: absolute;
    top: 0px;
    left: 0;
    
}

#interact .box::before {
    border: 25vw solid transparent;
    border-left: 12vw solid rgb(231, 121, 184);
    content: "";
    position: absolute;
    display: block;
    height: 0;
    width: 0;
    border-right: 0;
    top: o;
    left: 99.5%;
    z-index: 3;
}

#interact .box h2 {
    margin-bottom: 0%;
}

#interact .box ul {
    margin-left: 0;
    padding-left: 8%;
    margin-bottom: 5%;
}
#interact .box li {
    font-size: 1.1vw;
}

@media screen and (max-width: 575px) {
    
}

#interact .imcurious {
    text-align: center;
}

#interact .imcurious a {
    color: #2a2831;
    background-color: rgb(180, 157, 229);
    border-radius: 35px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: .5%;
    padding-top: .5%;
    font-weight: 500;
}

#interact .imcurious a:hover {
    cursor: pointer;
    background-color: rgb(40, 42, 53);
    border: solid rgb(9, 255, 0);
    border-width: 1px;
    color: rgb(9, 255, 0) !important;
    
}

#interact .box .imcurious a {
    color: rgb(180, 157, 229);
    background-color: rgb(40, 42, 53);
    border: solid rgb(180, 157, 229);
    border-width: 1px;
}

#interact .box .imcurious a:hover {
    cursor: pointer;
    background-color: rgb(40, 42, 53);
    border: solid rgb(137, 95, 228);
    border-width: 1px;
    color: rgb(137, 95, 228) !important; 
}

#interact .box .imcurious {
    z-index: 4;
    margin-top: 2%;
    padding-left: 0%;
    font-size: 1.7vw;
    text-align: left;
}

/* ------------Rabbit IT Main------------------------------------------------------------------------- */


.para-container {
    position: absolute;
    text-align: center;
    top: -200px;
    left: 50%;
    z-index: 4;
}

.para {
    width: 36px;
    height: 180px;
    margin: 17px;
    transform: skew(20deg);
    background-color: rgb(108, 221, 131);
    display: inline-block;
}


#fund {
    position: relative;
    margin-top: 60pt;
    width: 95%;
}


#fund h1 {
    color: rgb(180, 157, 229);
}

#fund section {
    color: rgb(228, 228, 228);
}

#fund li span {
    color: #b4abdf;
}


.mainpagelinks {
    padding: 3%;
    padding-bottom: 0;
}


.links1 h1 {
    color: rgb(180, 157, 229);
    font-size: 2.2vw;
    margin-bottom: 2%;
}


.links2 h1 {
    color: rgb(218, 218, 218);
    font-size: 2.2vw;
    margin-bottom: 2%;
}

.links1 a {
    color: rgb(18, 19, 24);
    font-size: 1.1vw;
    font-weight: bold;
    border-radius: 15vw;
    cursor: pointer;
    background-color: rgb(180, 157, 229);
    border: solid rgb(218, 218, 218);
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 2%;
    padding-right: 2%;
    border-width: 1px;
    margin: .5%;
    white-space: nowrap;
}

.links1 a:hover {
    color: rgb(9, 255, 0);
    border: solid rgb(9, 255, 0);
    cursor: pointer;
    background-color: rgb(40, 42, 53);
    border-width: 1px;
    text-decoration: none;
    
}

.links2 a {
    color: rgb(218, 218, 218);
    font-size: 1.1vw;
    font-weight: bold;
    border-radius: 1vw;
    cursor: pointer;
    background-color: rgb(40, 42, 53);
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 2%;
    padding-right: 2%;
    border: solid rgb(218, 218, 218);
    border-width: 1px;
    margin: .5%;
    white-space: nowrap;
}

.links2 a:hover {
    color: rgb(40, 42, 53);
    cursor: pointer;
    background-color: rgb(218, 218, 218);
    border: solid rgb(218, 218, 218);
    border-width: 1px;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .links1 {
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
        line-height: 2;
        margin-top: 50px;
    }

    .links2 {
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
        line-height: 2;
    }

    .links1 a {
        font-size: 20px;
        border-radius: 15vw;
    }

    .links2 a {
        font-size: 20px;
        border-radius: 15vw;

    }

    .links1 h1 {
        font-size: 35px;
        margin-bottom: 3%;
    }
    
    
    .links2 h1 {
        font-size: 7vw;
        margin-bottom: 3%;
    }
}



/* ------------rabbit it consulting--------------------------------------------------------------------------   */


.circle-container {
    text-align: center;
    top: -250px;
    left: 15%;
    z-index: 4;
}

.circle {
    height: 200px;
    width: 200px;
    background-color: rgb(9, 255, 0);
    border-radius: 50%;
    display: inline-block;
}

.circle:hover {
    transform: rotate(-25deg)
}

.circle h3 {
    margin-top: 20%;
}

@media screen and (min-width: 576px) {
    .circle-container {
        position: absolute;
        text-align: center;
        top: -230px;
        left: 15%;
        z-index: 4;
    }
}


#cube {
    margin-top: 150px;
    position: relative;
    margin-bottom: 3vw;
}

@media screen and (max-width: 575px) {
    .circle-container {
        text-align: center;
        margin-bottom: 5%;
    }

    #cube {
        margin-top: 20px;
        position: relative;
    }
}

@media screen and (max-width: 990px) {
    #cube {
        width: 95%;
        
    }
}

#cube section {
    border: solid rgb(180, 157, 229);
    height: 150px;
    margin: 10px;
    width: 29%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(180, 157, 229);
    font-size: 20px;
}

/* --------------------------------------Rabbit it Outsourcing---------------------------------------------- */
.outbody {
    margin-top: 40px;
    width: 95%;
}

.outoption {
    margin-top: 40px;
}

.outbody .outheader {
    border: solid rgb(231, 121, 184);
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.outbody .outheader h1 {
    color: rgb(231, 121, 184);
    font-size: 2vw;
    line-height: 1;
}

.outbody .outheader p {
    font-size: 2vw;
    color: whitesmoke;
    line-height: 1;
}



.outoption .arrow {
    position: relative;
}
.outoption .arrow p {
    font-size: 10vw;
    color: rgb(108, 221, 131);
    text-align: center;
}

.outoption h2 {
    color: rgb(108, 221, 131);
    font-size: 1.3vw;
}

.outoption p {
    color: whitesmoke;
    font-size: 1vw;
}

.outoption li {
    color: whitesmoke;
    font-size: 1vw;
}

@media screen and (max-width: 575px) {

    .outbody .outheader h1 {
        font-size: 6vw;
    }
    
    .outbody .outheader p {
        font-size: 4vw;
    }

    .outoption .arrow p {
        transform: rotate(90deg);
    }

    .outoption h2 {
        font-size: 3.3vw;
    }
    
    .outoption p {
        color: whitesmoke;
        font-size: 2.5vw;
    }
    
    .outoption li {
        font-size: 2.5vw;
    }

    
}


/* ----------------------------------------------Rabbit IT support ------------------------------------------ */

.box2 .supportlinks {
    margin-top: 7%;
    width: 100%;
}


.box2 .supportlinks a:hover {
    text-decoration: none;
    border: .3vw dotted rgb(108, 221, 131);
}

.box2 .supportlinks a:hover h4 , .supportlinks a:hover div {
    color: rgb(108, 221, 131);
}



.box2 .supportlinks h4 {
    color: whitesmoke;
    text-align: center;
    font-size: 1vw;
    line-height: 2.5;
}


.box2 .bi {
    color: whitesmoke;
    text-align: center;
    font-size: 7vw;
    line-height: 1.1;
}

.supportlinks {
    margin-top: 7%;
    width: 90%;
}


.supportlinks a:hover {
    text-decoration: none;
    border: .3vw dotted rgb(108, 221, 131);
}

.supportlinks a:hover h4 , .supportlinks a:hover div {
    color: rgb(108, 221, 131);
}



.supportlinks h4 {
    color: rgb(180, 157, 229);
    text-align: center;
    font-size: 2vw;
    line-height: 2.5;
}

.emaillink, .phonelink, .downloadlink {
    border: .3vw solid rgb(180, 157, 229);
    padding: 0;
}

.bi {
    color: whitesmoke;
    text-align: center;
    font-size: 7vw;
}

@media screen and (max-width: 575px) {
     
    .supportlinks h4 {
        font-size: 5vw;
        margin-bottom: 0;
    }

    .bi {
        margin-top: 2%;
    }

    
}

/* ------------------------Rabbit Legal Main -------------------------------------------------- */

.legalpagelinks {
    padding: 5%;
    padding-bottom: 0;
}


.legalpagelinks .links1 h1 {
    color: rgb(108, 221, 131);
}

.legalpagelinks .links1 a {
    color: rgb(18, 19, 24);
    /* color: rgb(218, 218, 218); */
    font-size: 20px;
    font-weight: bold;
    border-radius: 11px;
    cursor: pointer;
    background-color: rgb(108, 221, 131);
    /* background-color: black; */
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 5px;
    padding-right: 5px;
    border: solid rgb(108, 221, 131);
    /* border: solid rgb(9, 255, 0); */
    border-width: 1px;
    margin: .5%;
    white-space: nowrap;
}

.legalpagelinks .links1 a:hover {
    color: rgb(231, 121, 184);
    border: solid rgb(231, 121, 184);
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(40, 42, 53);
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(40, 42, 53);
    border-width: 1px;
    margin: .5%;
    text-decoration: none;
    
}


/* ------------------------Rabbit Interact Main -------------------------------------------------- */

.conman {
    margin-top: 7%;
    width: 95%;
    border: .2vw solid rgba(245, 245, 245, 0.658);
    padding: 2vw;
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
}

#interact .conman h1 {
    color: rgb(231, 121, 184);
    font-size: 3.5vw;
    margin-bottom: 5%;

}

#interact .conman li {
    font-size: 1.4vw;
    padding-left: 0;
}

#interact > p {
    font-size: 1vw;
    margin-top: 1%;
    text-align: center;
    color: whitesmoke;
}

@media screen and (max-width: 575px) {
    #interact .conman h1 {
        color: rgb(231, 121, 184);
        font-size: 27px;
        margin-bottom: 5%;
    }

    #interact .conman li {
        font-size: 18px;
        margin-top: 5%;
    }

    #interact > p {
        font-size: 12px;
    }
    
}

.interactpagelinks {
    padding: 3%;
    padding-bottom: 0;
}

.interactpagelinks .links1 h1 {
    color: rgb(231, 121, 184);
}


.links2 h1 {
    color: rgb(218, 218, 218);
}

.interactpagelinks .links1 a {
    color: rgb(18, 19, 24);
    /* color: rgb(218, 218, 218); */
    font-size: 20px;
    font-weight: bold;
    border-radius: 11px;
    cursor: pointer;
    background-color: rgb(231, 121, 184);
    /* background-color: black; */
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 5px;
    padding-right: 5px;
    border: solid rgb(231, 121, 184);
    /* border: solid rgb(9, 255, 0); */
    border-width: 1px;
    margin: .5%;
    white-space: nowrap;
}

.interactpagelinks .links1 a:hover {
    color: rgb(180, 157, 229);
    border: solid rgb(180, 157, 229);
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(40, 42, 53);
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(40, 42, 53);
    border-width: 1px;
    margin: .5%;
    text-decoration: none;
    
}


/* ------------------------------------- contact form ------------------------------------------------- */

#contact .box {
    background-color: rgb(108, 221, 131);
    display: block;
    height: 100%;
    width: 33%;
    z-index: 3;
    position: absolute;
    top: 0px;
    left: 0;
    
}

#contact .box::before {
    border: 25vw solid transparent;
    border-left: 12vw solid rgb(108, 221, 131);
    content: "";
    position: absolute;
    display: block;
    height: 0;
    width: 0;
    border-right: 0;
    top: o;
    left: 99.5%;
    z-index: 3;
}

.formdiv {
    line-height: 1.6vw;
}

.formdiv label, .formdiv p {
    font-size: 1.1vw;
    margin-bottom: 1%;
    color: whitesmoke;
}

.formdiv input {
    width: 20vw;
    height: 1.9vw; 
    font-size: 1.1vw;
    box-shadow: .2vw .2vw gray;
}

textarea {
    font-size: 1.1vw;
    box-shadow: .2vw .2vw gray;
    width: 20vw;
    line-height: 1;
}


input#checkbox {
    width: 2vw;
    height: 1.1vw;
    box-shadow: none;  
}

select, option {
    width: 20vw;
    height: 1.9vw; 
    font-size: 1.1vw;
    box-shadow: .2vw .2vw gray;
}

.formdiv input.submit {
    width: 7vw;
    height: 2.1vw;  
    font-size: 1vw;
    text-align: center;
}

.formdiv form br {
    font-size: .5vw;
}

/* ----------------------------------------------Footer -------------------------------------------------------- */

.footer-break {
    background-color: rgba(245, 245, 245, 0.685);
    width: 95%;
    text-align: center;
    margin-top: 2%;
}

#footer {
    max-width: 95%;
  }
  
  .panel-footer {
    margin-top: .5vw;
    color: rgba(255, 255, 255, 0.562); 
    padding-bottom: 30px;
    padding-top: 1%;
    background-color: rgb(40, 42, 53);
    font-size: .8vw;
  }

  .panel-footer span {
    color: whitesmoke;
  }

  #address span {
    font-size: 3vw;
  }

  @media screen and (max-width: 575px) {
   
    .panel-footer {
        font-size: 20px;
      }

      #address span {
        font-size: 40px;
      }


  }

  /* ----------------------------------------end-------------------------------------------------------- */
